---
layout: splash
header:
  overlay_image: /assets/images/P118374.jpg
classes:
  - landing
  - dark-theme
sidebar:
  nav: "docs"
---


Ancient Mesopotamia, the birthplace of writing, has produced vast numbers of cuneiform text artifacts that only a handful of highly specialized scholars are able to read. The task of studying them is so labor intensive that the great majority has not yet been translated, with the result that their contents are not accessible either to historians in other fields or to the wider public. The MTAAC project develops and applies new computerized methods to translate and analyze the contents of some 67,000 highly standardized administrative documents from southern Mesopotamia from the 21st century BC. Our methodology, which combines machine learning with statistical and neural machine translation technologies, can be applied to other ancient languages. Similarly, the translations themselves, and the historical, social and economic data extracted from them, are being made publicly available on the web.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
